venv/
template/
template/index.html
.gitignore
xinzvkyzko/checkerboard/779429e6-5785-4a46-8a16-502204014679.png
.gitignore
server.py
.gitignore
__pycache__/server.cpython-38.pyc
.gitignore
__pycache__/extractandcalib.cpython-38.pyc
